.headerMoyo {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.moyoLogo {
    position: absolute;
    max-width: 40px;
    height: 40px;
    left: 50px;
    top: 10px;
    bottom: 10px;
}

.navLink {
    text-decoration: none;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
}

.apple {
    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #00ACDC;
}
.blueBox {

    background: #00ACDC;
    border-radius: 8px;
}
.samsung {

    margin-right: 20px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    
    color: #000000; 
}
.smartphone {
    margin-right: 20px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    
    color: #000000;
    
    
}
.notebook {

    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    
    color:  #00ACDC;
}
.gadget {

    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #000000;

}
.tablet {

    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #000000;

}
.photo {
    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #000000;

}
.video {
    margin-right: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #000000;
}

.ulNavList {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.listOfLinks {
    margin-left: 70px;
    min-width: 875px;
}

.samsung:active {
    background-color: black;
}
.blueBox {
    position: absolute;
    width: 37px;
    height: 4px;
    /* left: 221px; */
    top: 56px;
    
    background: #00ACDC;
    border-radius: 8px;
}